* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

.grid {
  display: grid;
  grid-template-areas: "nav nav nav" "titulo titulo titulo" "main main main" "brownie budin cheesecake" "flan tiramisu volcan" "footer footer footer"; }

body {
  background-color: antiquewhite;
  box-sizing: content-box; }

body::-webkit-scrollbar {
  width: 8px; }

body::-webkit-scrollbar-thumb {
  background-color: #f1b579;
  border-radius: 10px; }

a {
  text-decoration: none;
  color: black; }
  a:hover {
    color: black; }

.navbar {
  background-color: #e8c39e;
  width: 100%;
  height: 3.6rem; }

.navbar {
  grid-area: nav;
  position: fixed;
  padding: 0;
  z-index: 50; }
  .navbar ul {
    width: 100%;
    background-color: #e8c39e; }
    .navbar ul li {
      text-align: center; }
    .navbar ul ul {
      position: absolute;
      display: none;
      padding-bottom: .3rem;
      border-radius: 1rem;
      width: 100%; }
      .navbar ul ul li {
        width: 100%;
        padding: none;
        font-family: Arial, Helvetica, sans-serif; }
        .navbar ul ul li a {
          display: inline-block;
          padding: 0;
          border-radius: .5rem;
          font-weight: 400; }
          .navbar ul ul li a:hover {
            background-color: #f1d3b5;
            border-radius: 1rem; }
  .navbar li {
    font-size: 1.7rem;
    z-index: 16;
    display: inline-block;
    position: relative;
    width: 20%;
    font-weight: 400;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 0.8rem;
    transition: background-color 0.2s; }
    .navbar li a {
      color: black;
      font-weight: 700; }
    .navbar li:hover {
      border-radius: 0.8rem;
      background-color: #f1d3b5; }
  .navbar i {
    display: inline-block;
    text-align: right;
    margin-right: 1rem;
    color: black; }
  .navbar .container-fluid {
    background-color: #e8c39e;
    height: 100%; }

.portada {
  grid-area: titulo; }

.imagen {
  width: 100%; }

.descripcionIndex {
  grid-area: main;
  font-size: 2.4rem;
  border-top: #f1b579 solid 0.8rem;
  border-bottom: #f1b579 solid 0.8rem;
  border-radius: 1.8rem;
  padding: 1.6rem 0 1.6rem 0;
  margin: 2rem 1rem 2rem 1rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

main {
  grid-area: main; }

.section-index {
  border: #e8c39e solid 0.5rem;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #D8D8D8;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 1.5rem 1rem;
  margin: 3rem 6rem 3rem 6rem;
  transition: all 0.4s; }
  .section-index a {
    width: 100%; }
  .section-index:hover {
    transform: scale(1.05);
    background-color: #fae3c6;
    box-shadow: 5px 5px 5px #cfcfcf; }
  .section-index .imgCardRecetas, .section-index .tituloImagenRecetas img, .tituloImagenRecetas .section-index img {
    height: 23rem;
    width: 23rem;
    object-fit: cover;
    border-radius: 1.5rem; }
  .section-index h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 2.1rem;
    position: relative;
    top: 0.8rem;
    background-color: #fafafa;
    border-radius: 2rem; }

.card-brownie {
  grid-area: brownie; }

.card-budin {
  grid-area: budin; }

.card-cheesecake {
  grid-area: cheesecake; }

.card-flan {
  grid-area: flan; }

.card-tiramisu {
  grid-area: tiramisu; }

.card-volcan {
  grid-area: volcan; }

.card-budin img {
  object-position: -9rem; }

footer {
  grid-area: footer; }

.section-index img {
  height: 23rem;
  width: 23rem;
  object-fit: cover;
  border-radius: 1.5rem; }

.tituloImagenRecetas {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem; }

.tituloReceta {
  font-size: 3.4rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.introReceta {
  font-size: 2.3rem;
  margin: 0 1rem 3rem 1rem;
  text-align: justify;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.ingredientesUtencilios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  margin-bottom: 2.5rem; }

.ingredientes {
  border: #a1a1a1 solid;
  border-radius: 0.5rem;
  background-color: #d8d8d8;
  margin-left: 15rem;
  padding: .5rem 2rem 0 1rem; }

.utencilios {
  border: #a1a1a1 solid;
  border-radius: 0.5rem;
  background-color: #d8d8d8;
  margin-right: 15rem;
  padding: .5rem 2rem 0 1rem; }

.procedimiento {
  margin: 0 0 2rem 1.5rem;
  font-size: 2.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  .procedimiento li {
    margin: 0.7rem 0 0.8rem 0; }
  .procedimiento img {
    width: 30rem;
    border: #ffd271 solid;
    border-radius: 0.5rem; }
  .procedimiento p {
    font-weight: bold;
    margin-top: 3rem; }

.tipsCuriosidades {
  text-align: justify; }
  .tipsCuriosidades p {
    font-size: 2rem;
    margin-left: 0.7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  .tipsCuriosidades ul {
    display: inline-block;
    margin: 0 2rem 2rem 2.7rem;
    font-size: 1.8rem;
    list-style: disc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.imgBudin {
  object-position: -11.2rem; }

.tituloImagenRecetas img {
  width: 30rem;
  height: 30rem;
  margin-top: 1.2rem;
  border: #e8c39e solid 0.6rem; }

.main-sobreNosotros:not(.portada) {
  display: flex;
  flex-direction: column;
  align-items: center; }

.card-sobreNosotros {
  display: flex;
  border: #e8c39e solid;
  align-items: center;
  width: 80%;
  text-align: justify;
  margin-bottom: 6rem;
  border-radius: 0.8rem; }
  .card-sobreNosotros img {
    width: 24rem;
    height: 24rem;
    margin: 1rem;
    object-fit: cover;
    border-radius: .8rem; }
  .card-sobreNosotros p {
    margin: 0 2rem 0 .5rem;
    font-size: 2rem; }

.main-galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem; }

.carousel {
  width: 70rem;
  display: flex;
  flex-direction: row;
  border: #e8c39e solid 0.5rem;
  border-radius: 1rem; }
  .carousel img {
    border-radius: .5rem; }

.carousel-inner h2 {
  font-size: 3.5rem;
  font-family: monospace;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 1.5rem;
  transition: all 0.4s; }
  .carousel-inner h2:hover {
    border-radius: 3rem;
    background-color: rgba(128, 128, 128, 0.8); }

.section-contactos {
  grid-area: main; }

.tituloPages {
  text-align: center;
  font-size: 4.5rem;
  margin: 1rem; }

form {
  margin: 4rem auto;
  width: 50%;
  font-size: 1.7rem;
  font-weight: 500;
  border: #e8c39e solid;
  border-radius: 2rem;
  padding: 1.5rem;
  background-color: #fff5ea; }
  form input {
    font-family: Arial, Helvetica, sans-serif; }

.numLabel {
  margin-top: 1rem; }

.submit {
  background-color: white;
  border: #dddddd solid 0.2rem;
  border-radius: 0.8rem;
  font-size: 1.15rem;
  padding: 0.3rem 0.5rem; }

.section-contactos {
  border-bottom: #e8c39e solid 1rem; }

.divError {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  text-align: center;
  position: relative;
  top: 10rem; }
  .divError h1 {
    font-size: 8rem;
    text-align: center; }
  .divError h2 {
    font-size: 5.4rem;
    margin-bottom: 2rem; }
  .divError p {
    font-size: 3rem; }
    .divError p a {
      color: blue; }
  .divError p:last-child {
    font-size: 2rem; }

footer {
  grid-area: footer; }

.footer-principal {
  border: #e8c39e solid 1rem;
  grid-area: footer;
  display: flex;
  flex-direction: column; }
  .footer-principal .header-footer {
    font-size: 2.4rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 80;
    display: flex;
    justify-content: center;
    margin: 1.2rem; }
  .footer-principal i {
    color: #383737;
    font-size: 3.5em;
    transition: transform 0.2s; }
    .footer-principal i:hover {
      transform: scale(1.2); }
  .footer-principal .iconos {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0 1rem 0;
    background-color: #f1e1cb;
    padding: 1rem 0 1rem 0;
    border-radius: 2rem; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 8rem; }

.footerDivList {
  display: flex; }

.footer-p {
  font-size: 1.8rem;
  position: relative;
  left: -1rem; }

.footer-list li {
  font-size: 1.5rem; }

@media (max-width: 1300px) {
  .grid {
    grid-template-areas: "nav nav" "titulo titulo" "main main" "brownie budin" "cheesecake flan" "tiramisu volcan" "footer footer"; }
  .navbar li {
    font-size: 1.5rem; }
  .navbar i {
    font-size: 1.3rem;
    margin-right: 0.7rem; }
  .descripcionIndex {
    font-size: 2.2rem; }
  .section-index img {
    height: 23rem;
    width: 24rem; }
  .card-brownie, .card-cheesecake, .card-tiramisu {
    margin-left: 15rem;
    margin-right: 3rem; }
  .card-budin, .card-flan, .card-volcan {
    margin-left: 3rem;
    margin-right: 15rem; } }

@media (max-width: 1100px) {
  .card-brownie, .card-cheesecake, .card-tiramisu {
    margin-left: 10rem;
    margin-right: 3rem; }
  .card-budin, .card-flan, .card-volcan {
    margin-left: 3rem;
    margin-right: 10rem; } }

@media (max-width: 991px) {
  .navbar-collapse {
    border-radius: 0 0 1rem 1rem; }
    .navbar-collapse li {
      width: 100%; }
  .navbar-nav {
    border-radius: 0 0 0.5rem 0.5rem; } }

@media (max-width: 920px) {
  .section-index {
    margin: 2rem 5rem; }
  .card-brownie, .card-cheesecake, .card-tiramisu {
    margin-left: 4rem;
    margin-right: 2rem; }
  .card-budin, .card-flan, .card-volcan {
    margin-left: 2rem;
    margin-right: 4rem; }
  form {
    font-size: 1.5rem; } }

@media (max-width: 810px) {
  .imagen {
    width: 100%; }
  .section-index img {
    height: 22rem;
    width: 23rem; }
  .section-index h2 {
    font-size: 2rem; }
  .card-sobreNosotros {
    width: 96%;
    align-items: center; }
    .card-sobreNosotros img {
      width: 15rem;
      height: 15rem;
      margin: 1 rem; }
    .card-sobreNosotros p {
      margin: 0 1rem;
      font-size: 1.6rem; }
  .carousel {
    width: 50rem; }
    .carousel img {
      border-radius: none; }
  .carousel-inner h3 {
    font-size: 3rem; }
  .ingredientesUtencilios {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .ingredientes {
    margin-left: 4rem; }
  .utencilios {
    margin-right: 4rem; }
  .iconos a {
    font-size: 1.6rem; }
  form {
    width: 70%; }
  .footer {
    margin: 2rem 0;
    justify-content: space-around; }
  .footer-p {
    font-size: 1.7rem; } }

@media (max-width: 680px) {
  .grid {
    grid-template-areas: "nav" "titulo" "main" "brownie" "budin" "cheesecake" "flan" "tiramisu" "volcan" "footer"; }
  .grid .section-index {
    margin: 2rem 12rem; }
    .grid .section-index h2 {
      font-size: 1.8rem; }
  .tituloReceta {
    font-size: 3.2rem; }
  .introReceta {
    font-size: 2rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem; }
  .descripcionIndex {
    font-size: 2rem; }
  .ingredientesUtencilios {
    font-size: 1.6rem; }
  .procedimiento {
    font-size: 2rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem; }
    .procedimiento img {
      width: 26rem; }
  .tipsCuriosidades {
    font-size: 1.7rem;
    margin-left: 0rem;
    margin-right: 1rem; }
    .tipsCuriosidades p {
      font-size: 1.8rem;
      margin-left: 1.2rem; }
  .tituloPages {
    font-size: 4.2rem; }
  .iconos a {
    font-size: 1.4rem; } }

@media (max-width: 627px) {
  .grid .section-index {
    margin: 2rem 9.5rem; }
    .grid .section-index img {
      height: 22rem;
      width: 23rem; }
  .card-sobreNosotros img {
    width: 13rem;
    height: 13rem; }
  .card-sobreNosotros p {
    margin: 0 1rem;
    font-size: 1.4rem; }
  .carousel {
    width: 34rem; }
  .carousel-inner h3 {
    font-size: 2.8rem; }
  .divError h1 {
    font-size: 6rem; }
  .divError h2 {
    font-size: 4.5rem; }
  .divError p {
    font-size: 2.4rem; }
  .divError p:last-child {
    font-size: 1.8rem; }
  .header-footer {
    font-size: 2.2rem;
    margin-bottom: 0rem; }
  .footer {
    margin: 2rem 1.5rem; }
  .footerDivList {
    margin: 0 1rem; } }

@media (max-width: 500px) {
  .grid .section-index {
    margin: 2rem 6rem; }
  .portada {
    padding-top: 1.5rem; }
  .card-sobreNosotros {
    flex-direction: column; }
    .card-sobreNosotros img {
      width: 10rem;
      height: 10rem; }
  .ingredientesUtencilios {
    font-size: 1.5rem; }
  .ingredientes {
    margin-left: 2rem;
    margin-right: 1.5rem; }
  .utencilios {
    margin-right: 2rem;
    margin-left: 1.5rem; }
  form {
    font-size: 1.3rem;
    width: 80%; }
  .divError {
    width: 90%;
    top: 7rem; }
    .divError h1 {
      font-size: 5.5rem; }
    .divError h2 {
      font-size: 4.1rem; }
    .divError p {
      font-size: 2.1rem; }
    .divError p:last-child {
      font-size: 1.8rem; }
  .iconos a {
    font-size: 1.3rem; }
  .footerDivList {
    margin: 0 .5rem; }
  .footer-p {
    font-size: 1.5rem; }
  .footer-list li {
    font-size: 1.3rem; } }

@media (max-width: 360px) {
  .tituloReceta {
    font-size: 2.9rem; }
  .tituloImagenRecetas img {
    width: 20rem;
    height: 22rem; }
  .introReceta {
    font-size: 2rem; }
  .section-index img {
    height: 23rem;
    width: 21rem; }
  .tituloPages {
    font-size: 3.5rem; }
  .carousel {
    width: 25rem; }
  .carousel-inner h3 {
    font-size: 2.6rem; }
  .procedimiento img {
    width: 27rem; }
  .divError {
    width: 92%; }
    .divError h1 {
      font-size: 5rem; }
    .divError h2 {
      font-size: 3.8rem; }
    .divError p {
      font-size: 1.7rem; }
    .divError p:last-child {
      font-size: 1.4rem; }
  footer h4 {
    font-size: 2rem; }
  .iconos a {
    font-size: 1rem; }
  .footer {
    margin: 2rem 1rem; }
  .footer-p {
    font-size: 1.4rem; }
  .footer-list li {
    font-size: 1.1rem; } }
