$borderColor: #f1b579;
$shadow: 3px 3px 3px #D8D8D8;

$borderColor: #e8c39e;
$colorIconos: rgb(56, 55, 55);
$familyFooter: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$navColor: #e8c39e;
$navFontSize: 1.7rem;
$navFontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$hoverNavBackground: #f1d3b5;
$familySubMenu: Arial, Helvetica, sans-serif;