@media (max-width:1300px) {
    .grid {
    grid-template-areas:
    "nav nav"
    "titulo titulo"
    "main main"
    "brownie budin"
    "cheesecake flan"
    "tiramisu volcan"
    "footer footer";
    }

    .navbar{
        li {
        font-size: 1.5rem;
        }

        i {
            font-size: 1.3rem;
            margin-right: 0.7rem;
        }
    }

    .descripcionIndex {
        font-size: 2.2rem;
    }

    .section-index {
        img {
            height: 23rem;
            width: 24rem;
        }
    }

    .card-brownie, .card-cheesecake, .card-tiramisu {
        margin-left: 15rem;
        margin-right: 3rem;
    }

    .card-budin, .card-flan, .card-volcan {
        margin-left: 3rem;
        margin-right: 15rem;
    }
}

@media (max-width:1100px) {
    .card-brownie, .card-cheesecake, .card-tiramisu {
        margin-left: 10rem;
        margin-right: 3rem;
    }

    .card-budin, .card-flan, .card-volcan {
        margin-left: 3rem;
        margin-right: 10rem;
    }
}

@media (max-width:991px) {
    .navbar-collapse {
        border-radius: 0 0 1rem 1rem;

        li {
            width: 100%;
        }
    }

    .navbar-nav {
        border-radius: 0 0 0.5rem 0.5rem;
    }
}

@media (max-width:920px) {
    .section-index {
        margin: 2rem 5rem;
    }

    .card-brownie, .card-cheesecake, .card-tiramisu {
        margin-left: 4rem;
        margin-right: 2rem;
    }

    .card-budin, .card-flan, .card-volcan {
        margin-left: 2rem;
        margin-right: 4rem;
    }

    form {
        font-size: 1.5rem;
    }
}

@media (max-width:810px) {
    .imagen {
        width: 100%;
    }

    .section-index {
        img {
            height: 22rem;
            width: 23rem;
        }

        h2 {
            font-size: 2rem;
        }
    }

    .card-sobreNosotros {
        width: 96%;
        align-items: center;

        img {
            width: 15rem;
            height: 15rem;
            margin: 1 rem;
        }

        p {
            margin: 0 1rem;
            font-size: 1.6rem;
        }
    }

    .carousel {
        width: 50rem;

        img {
            border-radius: none;
        }
    }

    .carousel-inner{
        h3 {
            font-size: 3rem;
        }
    }


    .ingredientesUtencilios{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .ingredientes{
        margin-left: 4rem;
    }

    .utencilios{
        margin-right: 4rem;
    }

    .iconos {
        a {
            font-size: 1.6rem;
        }
    }

    form {
        width: 70%;
    }

    .footer {
        margin: 2rem 0;
        justify-content: space-around;
    }

    .footer-p {
        font-size: 1.7rem;
    }
}

@media (max-width:680px) {
    .grid {
        grid-template-areas:
        "nav"
        "titulo"
        "main"
        "brownie"
        "budin"
        "cheesecake"
        "flan"
        "tiramisu"
        "volcan"
        "footer";
    }

    .grid{
        .section-index {
            margin: 2rem 12rem;

            h2 {
                font-size: 1.8rem;
            }
        }
    }

    .tituloReceta {
        font-size: 3.2rem;
    }

    .introReceta {
        font-size: 2rem;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }

    .descripcionIndex {
        font-size: 2rem;
    }

    .ingredientesUtencilios {
        font-size: 1.6rem;
    }

    .procedimiento {
        font-size: 2rem;
        margin-right: 1.5rem;
        margin-left: 1.5rem;

        img {
            width: 26rem;
        }
    }

    .tipsCuriosidades {
        font-size: 1.7rem;
        margin-left: 0rem;
        margin-right: 1rem;

        p {
            font-size: 1.8rem;
            margin-left: 1.2rem;
        }
    }

    .tituloPages {
        font-size: 4.2rem;
    }

    .iconos {
     a {
        font-size: 1.4rem;
     }
    }
}

@media (max-width:627px) {
    .grid {

        .section-index {
            margin: 2rem 9.5rem;

            img {
                height: 22rem;
                width: 23rem;
            }
        }
    }
    
    .card-sobreNosotros {
        img {
            width: 13rem;
            height: 13rem;
        }
    }
    
    .card-sobreNosotros {
        p {
            margin: 0 1rem;
            font-size: 1.4rem;
        }
    }


    .carousel {
        width: 34rem;
    }
    
    .carousel-inner {
        h3 {
         font-size: 2.8rem;
        }
    }

    .divError {
        h1 {
        font-size: 6rem;
        }

        h2 {
        font-size: 4.5rem;
        }
    
        p {
        font-size: 2.4rem;
        }

        p:last-child {
            font-size: 1.8rem;
        }
    }
    
    .footer-principal {
        .header-footer {
            font-size: 2.4rem;
            margin-bottom: 0rem;
        }
    }

    .footer {
        margin: 2rem 1.5rem;
    }

    .footerDivList {
        margin: 0 1rem;
    }
}

@media (max-width:500px) {
    .grid {
        .section-index {
            margin: 2rem 6rem;
        }
    }

    .portada {
        padding-top: 1.5rem;
    }

    .card-sobreNosotros {
        flex-direction: column;

        img {
            width: 10rem;
            height: 10rem;
        }
    }

    .ingredientesUtencilios {
        font-size: 1.5rem;
    }
    
    .ingredientes {
        margin-left: 2rem;
        margin-right: 1.5rem;
    }
    
    .utencilios {
        margin-right: 2rem;
        margin-left: 1.5rem;
    }

    form {
        font-size: 1.3rem;
        width: 80%;
    }

    .divError {
        width: 90%;
        top: 7rem;

        h1 {
        font-size: 5.5rem;
        }

        h2 {
        font-size: 4.1rem;
        }
    
        p {
        font-size: 2.1rem;
        }

        p:last-child {
            font-size: 1.8rem;
        }
    }

    .iconos {
        a{
    font-size: 1.2rem;
        }
    }

    .footer-principal {
        .header-footer {
            font-size: 2.2rem;
        }
    }

    .footerDivList {
        margin: 0 .5rem;
    }

    .footer-p {
        font-size: 1.5rem;
    }

    .footer-list {
        li {
            font-size: 1.3rem;
        }
    }
}


@media (max-width:360px) {
    .tituloReceta {
        font-size: 2.9rem;
    }

    .tituloImagenRecetas {
        img {
            width: 20rem;
            height: 22rem;
        }
    }

    .introReceta {
        font-size: 2rem;
    }

    .section-index {
        img {
            height: 23rem;
            width: 21rem;
        }
    }

    .tituloPages {
        font-size: 3.5rem;
    }

    .carousel {
        width: 25rem;
    }

    .carousel-inner {
        h3 {
            font-size: 2.6rem;
        }
    }


    .procedimiento {
        img {
            width: 27rem;
        }
    }


    .divError {
        width: 92%;

        h1 {
        font-size: 5rem;
        }

        h2 {
        font-size: 3.8rem;
        }
    
        p {
        font-size: 1.7rem;
        }

        p:last-child {
            font-size: 1.4rem;
        }
    }

    .footer-principal {
        .header-footer {
            font-size: 2rem;
        }
    }

    footer {
        h4 {
            font-size: 2rem;
        }
    }

    .iconos {
     a {font-size: 1rem;}
    }

    .footer {
        margin: 2rem 1rem;
    }

    .footer-p {
        font-size: 1.4rem;
    }

    .footer-list {
        li {
            font-size: 1.1rem;
        }
    }
}